-u pip
praw
prawcore
psycopg2
requests
git+https://bitbucket.org/micktwomey/pyiso8601#egg=src
git+https://github.com/Rapptz/discord.py
git+https://github.com/takluyver/Unidecode.git
git+http://github.com/russ-/pychallonge#egg=pychallonge