praw
prawcore
psycopg2
requests
git+https://github.com/boxed/iso8601.git
git+https://github.com/Rapptz/discord.py
git+https://github.com/takluyver/Unidecode.git
git+http://github.com/russ-/pychallonge#egg=pychallonge